@model CodeVoyage.Models.Reservation
@{
    ViewBag.Title = "Formulaire";
    Layout = "_LayoutDuSite";
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>CréerReservation</title>
</head>
<body>
    @using (Html.BeginForm())
    {
        <fieldset>
            <legend>Réserver votre voyage :</legend>
            @Html.LabelFor(m => Model.Membre.Nom)
            @Html.TextBoxFor(m => Model.Membre.Nom)

            <br />
            @Html.LabelFor(m => Model.Membre.Prenom)
            @Html.TextBoxFor(m => Model.Membre.Prenom)

            <br />

            @Html.LabelFor(m => Model.Membre.Email)
            @Html.TextBoxFor(m => Model.Membre.Email)
            <br />
        
        
            @Html.LabelFor(m => Model.Membre.Localisation)
            @Html.TextBoxFor(m => Model.Membre.Localisation)
            <br />
            @Html.LabelFor(m => Model.Membre.Age)
            @Html.TextBoxFor(m => Model.Membre.Age)
            <br />
            @*@Html.LabelFor(m => Model.Membre.User)
            @Html.DropDownListFor(m => m.Membre.User, Html.GetEnumSelectList<CodeVoyage.Models.Membre.Role>(), " Vous êtes : ")
            @Html.ValidationMessageFor(m => Model.Membre.User)*@
            </fieldset>

         <fieldset>
            <legend> détails de votre réservation: </legend>
            <div>ItineraireId.ItineraireDescription, EventId.EvenementDescription, prixTotal € </div>
        <input type="submit" value="Ajouter" />
        </fieldset>
            }
</body>
</html>