@model CodeVoyage.Models.Reservation
@{
    ViewBag.Title = "Formulaire";
    Layout = "_LayoutDuSite";
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>CréerReservation</title>
</head>
<body>
    @using (Html.BeginForm())
    {
        <fieldset>
            <legend>Réserver votre voyage :</legend>
            

            @Html.LabelFor(m => Model.Membre)
            @Html.DropDownListFor(m => m.MembreId, new SelectList(ViewBag.MembreList, "Id", "MembreDescription"))
            <br />
          
            <input type="submit" value="Ajouter" />
        </fieldset>
    }
</body>
@section Menu{
    <ul>
        <li>@Html.ActionLink("Accueil", "Index","Home")</li>
        <li>@Html.ActionLink("Ajout de service", "CreerService", "Service")</li>
        <li>@Html.ActionLink("Ajout d'Evenement", "CreerEvenement", "Evenement")</li>
        <li class=" selectionne">@Html.ActionLink(" Reserver Maintenant ", "CreerReservation", "Reservation")</li>

    </ul>
}
</html>