@model CodeVoyage.Models.Reservation
@{
    ViewBag.Title = "Formulaire";
    Layout = "_LayoutAdmin";

}

<head>
    <meta name="viewport" content="width=device-width" />
    <title>Modifier Reservation</title>
</head>
@section content{

    @using (Html.BeginForm())
    {

        <fieldset>

            <table align="center" text-align="center">
                <tr>
                    <th>
                        Modifier une reservation

                    </th>

                </tr>
                <tr>
                    <td>
                        @Html.LabelFor(m => Model.Membre)
                    </td>
                </tr>
                <tr>
                    <td class="form-control">
                        @Html.DropDownListFor(m => m.MembreId, new SelectList(ViewBag.MembreList, "Id", "MembreDescription"))
                        @Html.ValidationMessageFor(m => Model.Membre)
                    </td>
                </tr>

                <tr>
                    <td>
                        @Html.LabelFor(m => Model.OffrePayee)
                    </td>
                </tr>
                <tr>
                    <td class="form-control">
                        @Html.DropDownListFor(m => m.OffreVoyageId, new SelectList(ViewBag.OffreVoyageList, "Id", "OffreVoyageDescription"))
                        @Html.ValidationMessageFor(m => Model.OffrePayee)
                    </td>
                </tr>

               
              

                <tr>
                    <td>
                        <button type="submit" class="btn btn-secondary">Modifier</button>
                    </td>
                </tr>
            </table>
        </fieldset>


    }
    }


    <script type="text/javascript" src="~/Scripts/jquery-3.3.1.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.validate-vsdoc.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.validate.unobtrusive.js"></script>

}
