@model CodeVoyage.Models.OffrePerso
@{
    ViewBag.Title = "Formulaire";
    Layout = "_LayoutDuSite";
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Je procède  à la réservation </title>
</head>
<body>
    @using (Html.BeginForm())
    {
        <fieldset>
            <legend>Réserver votre voyage :</legend>
            @Html.HiddenFor(m => m.Id)
            <div>Evénement Sélectionné :<strong>@Html.DisplayFor(m => m.Offre.Itineraire.ItineraireDescription)</strong></div>
            <div>Moyen de transport :<strong>@Html.DisplayFor(m => m.Offre.Event.EvenementDescription)</strong></div>
            <div>Lieu de depart :<strong>@Html.DisplayFor(m => m.Offre.Itineraire.LieuDepart)</strong></div>
            <div>Destination :<strong>@Html.DisplayFor(m => m.Offre.Itineraire.Destination)</strong></div>
            <div>Date de depart :<strong>@Model.Offre.Itineraire.DateDepart.ToShortDateString()</strong></div>
            <div>Date de retour:<strong>@Model.Offre.Itineraire.DateRetour.ToShortDateString()</strong></div>
            <div>Nom du service :<strong>@Html.DisplayFor(m => m.Offre.Service.nomService)</strong></div>
            <div>Nom du serviceEx :<strong>@Html.DisplayFor(m => m.Offre.ServiceEx.nomService)</strong></div>
            <div>Nom du service :<strong>@Html.DisplayFor(m => m.Offre.ServicePerso.nomService)</strong></div>
            <div>Prix total :<strong>@Html.DisplayFor(m => m.Offre.prixTotal) € </strong> </div>



            @*<input type="submit" value="Payer" />*@
            <a href=@("/Reservation/Index/")>Payer</a>
            <a href=@("/Membre/EspaceMembre/")>Annuler</a>


        </fieldset>

    }


</body>
</html>

