<!DOCTYPE html>
<html>



<head>
    
    
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/css/Site.css" rel="stylesheet" />
    @RenderSection("ExtraCss", required: false)
</head>
<body>
    <div id="entete">
        <h1>

        </h1>
      
        <nav>
            <ul>
                <li class="menuLogo"><a href="https://localhost:44324/"><img src="~/Css/LogoBlanc2.png" width="25%" height="25%"/></a></li>
                <li><a href="#">Laissez-vous inspirer</a></li>
                <li><a href="#">Prenez le contrôle</a></li>
                <li><a href="#">À propos</a></li>
                <li><a href="#">Connexion</a></li>
            </ul>
        </nav>
    </div>

    <div id="main">
       

        <div id="contenu">
            @RenderBody()
        </div>
    </div>

    <div id="footer">
        <div id="menu">
            @RenderSection("Menu", required: false)
        </div>
        &copy; @DateTime.Now.Year - Contactez nous !

    </div>
    @RenderSection("ExtraScripts", required: false)
</body>
</html>
