@model List<CodeVoyage.Models.OffreVoyage>
@{
    ViewBag.Title = "Formulaire";
    Layout = "_LayoutDuSite";
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Liste des offres de voyages</title>
</head>
<body>
    <table border="1">

        <tr>



            <th>

                Itineraire

            </th>

            <th>

                Evenement

            </th>

            <th>

                Service

            </th>

            <th>

                Service Extra

            </th>
            <th>

                Remise

            </th>

            <th>

                Prix Total

            </th>

            <th></th>

        </tr>

        @foreach (var offreVoyage in Model)
        {
            <tr>
                <td>@offreVoyage.Itineraire.ItineraireDescription</td>
                <td>@offreVoyage.Event.EvenementDescription</td>
                <td>@offreVoyage.Service.ServiceDescription</td>
                <td>@offreVoyage.ServiceEx.ServiceDescription</td>
                <td>@offreVoyage.Remise</td>
                <td>@offreVoyage.prixTotal</td>
                <td>
                    <form method="get" action="@("/OffreVoyage/ModifierOffreVoyage/"+offreVoyage.Id)">

                        <input type="submit" value="Modifier" />
                    </form>
                </td>
                <td>
                    <form method="get" action="@("/OffreVoyage/SupprimerOffreVoyage/"+offreVoyage.Id)">

                        <input type="submit" value="Supprimer" />
                    </form>
                </td>
            </tr>
        }


    </table>

</body>

</html>
