@model CodeVoyage.Models.OffreVoyage
@{
    ViewBag.Title = "Formulaire";
    Layout = "_LayoutDuSite";
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ModifierOffreVoyage</title>
</head>
<body>
    @using (Html.BeginForm())
    {
        <fieldset>
            <legend>Modifier une offre de Voyage: </legend>
            @Html.LabelFor(m => Model.Itineraire)
            @Html.DropDownListFor(m => m.ItineraireId, new SelectList(ViewBag.ItineraireList, "Id", "ItineraireDescription"))
            @Html.ValidationMessageFor(m => Model.Itineraire)
            <br />
            @Html.LabelFor(m => Model.Event)
            @Html.DropDownListFor(m => m.EventId, new SelectList(ViewBag.EvenementList, "Id", "EvenementDescription"))
            @Html.ValidationMessageFor(m => Model.Event)
            <br />
            @Html.LabelFor(m => Model.Service)
            @Html.DropDownListFor(m => m.ServiceId, new SelectList(ViewBag.ServiceList, "Id", "ServiceDescription"))
            @Html.ValidationMessageFor(m => Model.Service)
            <br />
            @Html.LabelFor(m => Model.ServiceEx)
            @Html.DropDownListFor(m => m.ServiceExId, new SelectList(ViewBag.ServiceList, "Id", "ServiceDescription"))
            @Html.ValidationMessageFor(m => Model.ServiceEx)
            <br />
            @Html.LabelFor(m => Model.prixTotal)
            @Html.TextBoxFor(m => Model.prixTotal)
            @Html.ValidationMessageFor(m => Model.prixTotal)
            <input type="submit" value="Modifier" />
        </fieldset>


    }
    <script type="text/javascript" src="~/Scripts/jquery-3.3.1.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.validate-vsdoc.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.validate.unobtrusive.js"></script>
</body>
@section Menu{
    <ul>
        <li>@Html.ActionLink("Accueil", "Index","Home")</li>
        <li>@Html.ActionLink("Ajout de service", "CreerService", "Service")</li>
        <li >@Html.ActionLink("Modification de service", "ModifierService", "Service")</li>
        <li>@Html.ActionLink("Ajout d'Evenement", "CreerEvenement", "Evenement")</li>
        <li>@Html.ActionLink("Ajout offreVoyage", "CreerOffreVoyage", "OffreVoyage")</li>
        <li class="selectionne">@Html.ActionLink("Modification d'offre de voyage", "ModifierOffreVoyage", "OffreVoyage")</li>

    </ul>
}
</html>

