@model List<CodeVoyage.Models.OffreVoyage>
@{
    ViewBag.Title = "Formulaire";
    Layout = "_LayoutDuSite";
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Rechercher une offre sur mesure</title>
</head>
<body>
    @using (Html.BeginForm())
    {
        <fieldset>
            <legend>Recherche avancée: </legend>

            @Html.Label("Itineraire")
            @Html.DropDownList("ItineraireId", new SelectList(ViewBag.ItineraireList, "Id", "ItineraireDescription"))
            @*@Html.TextBoxFor(m => Model.Itineraire)*@

            <br />
            @Html.Label("Evénement")
            @Html.DropDownList("EventId",new SelectList(ViewBag.EvenementList, "Id", "EvenementDescription"))

            <br />
            @Html.Label("service")
            @Html.DropDownList("ServiceId", new SelectList(ViewBag.ServiceList, "Id", "ServiceDescription"))

            <br />
            @Html.Label("Service")
            @Html.DropDownList("ServiceExId", new SelectList(ViewBag.ServiceList, "Id", "ServiceDescription"))
            
          
            <br />
            @Html.Label("Prix Max")
            @Html.DropDownList("prixMax", new SelectList(ViewBag.prixList, "Value", "Value"), "Selectionner un prix")
            <input type="submit" value="Rechercher" />
        </fieldset>    
        }
        <br />


    @if (Model.Count == 0)
    {
   
        
            <p> Aucune offre ne correspond à votre recherche </p>
        
    }
    else
    {
        <fieldset>
        <legend>Liste des offres disponibles: </legend>
        @foreach (var item in Model)

        {

                <div>Evènement selectionné :<strong>@item.Event.Nom</strong></div>
                <div>Lieu de départ :<strong>@item.Itineraire.LieuDepart</strong></div>
                <div>Destination : <strong>@item.Itineraire.Destination</strong></div>
                <div>Date de Départ : <strong>@item.Itineraire.DateDepart</strong></div>
                <div>Date de Retour : <strong>@item.Itineraire.DateArrivee</strong></div>
                <div>>Service : <strong>@item.Service.nomService</strong></div>
                <div>Service Extra : <strong>@item.ServiceEx.nomService</strong></div>
                <div>Moyen de Transport selectionné : <strong>@item.Itineraire.Transport</strong></div>
                <div>Prix total de la réservation: <strong>@item.prixTotal € </strong> </div>
                <br/>
                
                @Html.ActionLink("Je réserve", "CreerReservation", "Reservation")
                <span></span>

        }
        </fieldset>
    }

   

    
</body>
</html>