@model CodeVoyage.Models.Membre
@{
    ViewBag.Title = "Formulaire";
    Layout = "_LayoutDuSite";
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ModifierMembre</title>
</head>
<body>
    @using (Html.BeginForm())
    {
        <fieldset>
            <legend>Modifier un Membre: </legend>

            @Html.LabelFor(m => Model.Nom)
            @Html.TextBoxFor(m => Model.Nom)
            @Html.ValidationMessageFor(m => Model.Nom)
            <br />
            @Html.LabelFor(m => Model.Prenom)
            @Html.TextBoxFor(m => Model.Prenom)
            @Html.ValidationMessageFor(m => Model.Prenom)
            <br />
            @Html.LabelFor(m => Model.Email)
            @Html.TextBoxFor(m => Model.Email)
            @Html.ValidationMessageFor(m => Model.Email)
            <br />
            @Html.LabelFor(m => Model.Localisation)
            @Html.TextBoxFor(m => Model.Localisation)
            @Html.ValidationMessageFor(m => Model.Localisation)
            <br />
            @Html.LabelFor(m => Model.Age)
            @Html.TextBoxFor(m => Model.Age)
            @Html.ValidationMessageFor(m => Model.Age)
            <br />
            @Html.LabelFor(m => Model.User )
            @Html.DropDownListFor(m => m.User, Html.GetEnumSelectList<CodeVoyage.Models.Role>(), "Vous êtes")
            @Html.ValidationMessageFor(m => Model.User)
            <input type="submit" value="Modifier" />
        </fieldset>


    }
    <script type="text/javascript" src="~/Scripts/jquery-3.3.1.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.validate-vsdoc.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.validate.unobtrusive.js"></script>
</body>
@section Menu{
    <ul>
        <li>@Html.ActionLink("Accueil", "Index","Home")</li>
        <li>@Html.ActionLink("Ajout de service", "CreerService", "Service")</li>
        <li>@Html.ActionLink("Modification de service", "ModifierService", "Service")</li>
        <li>@Html.ActionLink("Ajout d'Evenement", "CreerEvenement", "Evenement")</li>
        <li>@Html.ActionLink("Inscription de membre", "InscriptionMembre","Membre")</li>
        <li class="selectionne">@Html.ActionLink("Affichage des Membres", "AfficherTousLesMembres", "Membre")</li>

    </ul>
}
</html>


