

@model List<CodeVoyage.Models.Service>
@{
    ViewBag.Title = "Formulaire";
    Layout = "_LayoutAdmin";
}

<head>
    <meta name="viewport" content="width=device-width" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <title>Liste de services</title>
</head>
@section content {
     <div class="container mt-3">
        <div style="overflow-x:auto;">
        <table class="table">
        <tr>



            <th>

                Nom du Service

            </th>

            <th>

                Type de Service

            </th>

            <th>

                Capacité

            </th>

            <th>

                Date de début

            </th>
            <th>

                Date de fin

            </th>

            <th>

                Prix

            </th>
            <th></th>

        </tr>

        @foreach (var service in Model)
            {
            <tr>
                <td>@service.nomService</td>
                <td>@service.TypeService</td>
                <td>@service.Capacite</td>
                <td>@service.DateDeb</td>
                <td>@service.DateFin</td>
                <td>@service.Prix</td>
                <td>
                        <form method= "get" action="@("/Service/ModifierService/"+service.Id)">

                            <input type="submit" value="Modifier" />
                        </form>
                    </td>
                <td>
                    <form method="get" action="@("/Service/SupprimerService/"+service.Id)">

                        <input type="submit" value="Supprimer" />
                    </form>
                </td>
            </tr>
        }
                <p>

                    <button type="submit" class="btn btn-secondary btn-lg"> <a href=@("/Service/CreerService") class="link-light text-decoration-none align-self-end">Créer un service</a></button>

                </p>

    </table>
            
        </div>
    </div>
}
