@model CodeVoyage.Models.Evenement
@{
    ViewBag.Title = "Formulaire";
    Layout = "_LayoutDuSite";
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>CréerEvenement</title>
</head>
<body>
    @using (Html.BeginForm())
    {
        <fieldset>
            <legend>Créer un évènement: </legend>
            @Html.LabelFor(m => Model.Nom)
            @Html.TextBoxFor(m => Model.Nom)
            
            <br />
            @Html.LabelFor(m => Model.Localisation)
            @Html.TextBoxFor(m => Model.Localisation)
           
            <br />
            @Html.LabelFor(m => Model.DateDeb)
            @Html.TextBoxFor(m => Model.DateDeb, new { type = "date" })
            
            <br />
            @Html.LabelFor(m => Model.DateFin)
            @Html.TextBoxFor(m => Model.DateFin, new { type = "date" })
            <br />

            @Html.LabelFor(m => Model.TypeEvenement)
            @Html.TextBoxFor(m => Model.TypeEvenement)
            
            <input type="submit" value="Ajouter" />
        </fieldset>
    }
</body>
</html>
