@model CodeVoyage.Models.Evenement
@{
    ViewBag.Title = "Formulaire";
    Layout = "_LayoutDuSite";
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <title>Modifier Evenement</title>
</head>
<body>

        @using (Html.BeginForm())
            {
                <fieldset>

            <table align="center" text-align="center">
                <tr>
                    <th>
                       Modifier un évènement

                </th>

            </tr>
            <tr>
                    <td>
                        @Html.LabelFor(m => Model.Nom)
                    </td>
            </tr>
            <tr>
                    <td class="form-control">
                        @Html.TextBoxFor(m => Model.Nom)
                        @Html.ValidationMessageFor(m => Model.Nom)
                    </td>
            </tr>

             <tr>
                    <td>
                        @Html.LabelFor(m => Model.DateDeb)
                    </td>
             </tr>
             <tr>
                    <td class="form-control">
                        @Html.TextBoxFor(m => Model.DateDeb, new { type = "date" })
                        @Html.ValidationMessageFor(m => Model.DateDeb)
                    </td>
             </tr>

                <tr>
                    <td>
                        @Html.LabelFor(m => Model.DateFin)
                    </td>
                </tr>
                <tr>
                    <td class="form-control">
                        @Html.TextBoxFor(m => Model.DateFin, new { type = "date" })
                        @Html.ValidationMessageFor(m => Model.DateFin)
                    </td>
                </tr>

                <tr>
                    <td>
                        @Html.LabelFor(m => Model.Localisation)
                    </td>
                </tr>
                <tr>
                    <td class="form-control">
                        @Html.TextBoxFor(m => Model.Localisation)
                        @Html.ValidationMessageFor(m => Model.Localisation)
                    </td>
                </tr>

                <tr>
                    <td>
                        @Html.LabelFor(m => Model.TypeEvenement)
                    </td>
                </tr>
                <tr>
                    <td class="form-control">
                        @Html.DropDownListFor(m => m.TypeEvenement, Html.GetEnumSelectList<CodeVoyage.Models.TypeEvenement>(), "Selectionner le type d'évènement")
                        @Html.ValidationMessageFor(m => Model.TypeEvenement)
                    </td>
                </tr>
                
                <tr>
                    <td>
                        <button type="submit" class="btn btn-secondary" >Modifier</button>
                    </td>
                </tr>
                            
            </table>
        </fieldset>
      

            }
            
    <script type="text/javascript" src="~/Scripts/jquery-3.3.1.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.validate-vsdoc.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.validate.unobtrusive.js"></script>
    </div>
</body>
</html>

