@model CodeVoyage.Models.Partenaire
@{
    ViewBag.Title = "Formulaire";
    Layout = "_LayoutDuSite";
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title> Modifier un Partenaire</title>
</head>
<body>
    @using (Html.BeginForm())
    {
        <fieldset>
            <legend>Inscription d'un partenaire': </legend>
            @Html.LabelFor(m => Model.Nom)
            @Html.TextBoxFor(m => Model.Nom)
            @Html.ValidationMessageFor(m => Model.Nom)
            <br />
            @Html.LabelFor(m => Model.Localisation)
            @Html.TextBoxFor(m => Model.Localisation)
            @Html.ValidationMessageFor(m => Model.Localisation)
            <br />
            @Html.LabelFor(m => Model.email)
            @Html.TextBoxFor(m => Model.email)
            @Html.ValidationMessageFor(m => Model.email)
            <br />
            @Html.LabelFor(m => Model.NumSiret)
            @Html.TextBoxFor(m => Model.NumSiret)
            @Html.ValidationMessageFor(m => Model.NumSiret)

            <br />
            @Html.LabelFor(m => Model.TypeService)
            @Html.DropDownListFor(m => m.TypeService, Html.GetEnumSelectList<CodeVoyage.Models.TypeService>(), "Selectionner le type de service")
            @Html.ValidationMessageFor(m => Model.TypeService)
            <br />
            @Html.LabelFor(m => Model.Role)
            @Html.DropDownListFor(m => m.Role, Html.GetEnumSelectList<CodeVoyage.Models.Role>(), "Sélectionner le rôle")
            @Html.ValidationMessageFor(m => Model.Role)
            <input type="submit" value="Ajouter" />
        </fieldset>

    }
    <script type="text/javascript" src="~/Scripts/jquery-3.3.1.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.validate-vsdoc.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.validate.unobtrusive.js"></script>
</body>

</html>
