@model CodeVoyage.Models.Partenaire
@{
    ViewBag.Title = "Formulaire";
    Layout = "_LayoutDuSite";
}

@section content{
<p>
    Veuillez Remplir les champs pour créer votre compte :
</p>



@using (Html.BeginForm("CreerCompteP", "Login", FormMethod.Post))
{
    <fieldset>
            <table align="center" text-align="center">
                <tr>
                    <th>
                        Veuillez remplir les champs pour créer votre compte :

                    </th>

                </tr>
                <tr>
                    <td>
                        @Html.LabelFor(m => Model.Nom)
                    </td>
                </tr>
                <tr>
                    <td class="form-control">
                        @Html.TextBoxFor(m => Model.Nom)
                        @Html.ValidationMessageFor(m => Model.Nom)
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.LabelFor(m => Model.NumSiret)
                    </td>
                </tr>
                <tr>
                    <td class="form-control">
                        @Html.TextBoxFor(m => Model.NumSiret)
                        @Html.ValidationMessageFor(m => Model.NumSiret)
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.LabelFor(m => Model.email)
                    </td>
                </tr>
                <tr>
                    <td class="form-control">
                        @Html.TextBoxFor(m => Model.email)
                        @Html.ValidationMessageFor(m => Model.email)
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.LabelFor(m => Model.MotDePasse)
                    </td>
                </tr>
                <tr>
                    <td class="form-control">
                        @Html.PasswordFor(m => m.MotDePasse)
                        @Html.ValidationMessageFor(m => Model.MotDePasse)
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.LabelFor(m => Model.Localisation)
                    </td>
                </tr>
                <tr>
                    <td class="form-control">
                        @Html.TextBoxFor(m => Model.Localisation)
                        @Html.ValidationMessageFor(m => Model.Localisation)
                    </td>
                </tr>

                <tr>
                    <td>
                        @Html.LabelFor(m => Model.TypeService)
                    </td>
                </tr>
                <tr>
                    <td class="form-control">
                        @Html.DropDownListFor(m => m.TypeService, Html.GetEnumSelectList<CodeVoyage.Models.TypeService>(), "Selectionner le type de service")
                        @Html.ValidationMessageFor(m => Model.TypeService)
                    </td>
                </tr>

                <tr>
                    <td>
                        @Html.LabelFor(m => Model.Role)
                    </td>
                </tr>
                <tr>
                    <td class="form-control">
                        @Html.DropDownListFor(m => m.Role, Html.GetEnumSelectList<CodeVoyage.Models.Role>(), "Vous êtes")
                        @Html.ValidationMessageFor(m => Model.Role)
                    </td>
                </tr>
                <tr>
                    <td>
                        <button type="submit" class="btn btn-secondary"> S'inscrire</button>

                    </td>
                </tr>
            </table>
    </fieldset>
}
}

