@model CodeVoyage.Models.Membre
@{
    ViewBag.Title = "Formulaire";
    Layout = "_LayoutDuSite";
}

@section content{



<p>
    Veuillez Remplir les champs pour créer voter compte :
</p>
        
        
        
@using (Html.BeginForm("CreerCompteM", "Login", FormMethod.Post))
{
    <fieldset>
            <table align="center" text-align="center">
                <tr>
                    <th>
                        Veuillez remplir les champs pour créer votre compte :

                    </th>

                </tr>
                <tr>
                    <td>
                        @Html.LabelFor(m => Model.Nom)
                    </td>
                </tr>
                <tr>
                    <td class="form-control">
                        @Html.TextBoxFor(m => Model.Nom)
                        @Html.ValidationMessageFor(m => Model.Nom)
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.LabelFor(m => Model.Prenom)
                    </td>
                </tr>
                <tr>
                    <td class="form-control">
                        @Html.TextBoxFor(m => Model.Prenom)
                        @Html.ValidationMessageFor(m => Model.Prenom)
                    </td>
                </tr>
                
                <tr>
                    <td>
                        @Html.LabelFor(m => Model.Email)
                    </td>
                </tr>
                <tr>
                    <td class="form-control">
                        @Html.TextBoxFor(m => Model.Email)
                        @Html.ValidationMessageFor(m => Model.Email)
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.LabelFor(m => Model.MotDePasse)
                    </td>
                </tr>
                <tr>
                    <td class="form-control">
                        @Html.PasswordFor(m => m.MotDePasse)
                        @Html.ValidationMessageFor(m => Model.MotDePasse)
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.LabelFor(m => Model.Localisation)
                    </td>
                </tr>
                <tr>
                    <td class="form-control">
                        @Html.TextBoxFor(m => Model.Localisation)
                        @Html.ValidationMessageFor(m => Model.Localisation)
                    </td>
                </tr>

                <tr>
                    <td>
                        @Html.LabelFor(m => Model.Age)
                    </td>
                </tr>
                <tr>
                    <td class="form-control">
                        @Html.TextBoxFor(m => Model.Age)
                        @Html.ValidationMessageFor(m => Model.Age)
                    </td>
                </tr>

                <tr>
                    <td>
                        @Html.LabelFor(m => Model.User)
                    </td>
                </tr>
                <tr>
                    <td class="form-control">
                        @Html.DropDownListFor(m => m.User, Html.GetEnumSelectList<CodeVoyage.Models.Role>(), "Vous êtes")
                        @Html.ValidationMessageFor(m => Model.User)
                    </td>
                </tr>

                <tr>
                    <td>
                        <button type="submit" class="btn btn-secondary"> S'inscrire</button>

                    </td>
                </tr>
                </table>
        </fieldset>
}
}
