@model CodeVoyage.ViewModels.MembreViewModel
@{
    ViewBag.Title = "Formulaire";
    Layout = "_LayoutDuSite";
}




@if (Model.AuthentifierM)
{
    <h3>
        Vous êtes déjà authentifié avec le login :
        @Model.Membre.Prenom
    </h3>
    @Html.ActionLink("Voulez-vous vous déconnecter ?", "Deconnexion")
}
else
{
    <p>
        Veuillez vous authentifier :
    </p>
   @using (Html.BeginForm("IndexM", "Login", FormMethod.Post))
{
    //if (User.IsInRole("Admin"))
    //{

    //}
    <div>
        @Html.LabelFor(m => m.Membre.Email)
        @Html.TextBoxFor(m => m.Membre.Email)
        @Html.ValidationMessageFor(m => m.Membre.Email)
    </div>
    <div>
        @Html.LabelFor(m => m.Membre.MotDePasse)
        @Html.PasswordFor(m => m.Membre.MotDePasse)
        @Html.ValidationMessageFor(m => m.Membre.MotDePasse)
    </div>
    <input type="submit" value="Se connecter" />
    <br />
    @Html.ActionLink("Créer un compte", "CreerCompteMembre", "Login")
}
}