@model CodeVoyage.ViewModels.MembreViewModel
@{
    ViewBag.Title = "Formulaire";
    Layout = "_LayoutDuSite";
}


@section content{
    @if (Model.AuthentifierM)
    {
        <br />
        <br />
        <br />
        <h3>
            <span>
                Vous êtes déjà authentifié avec le login :
                @Model.Membre.Prenom
            </span>
            

        <span class="align-self-end">
            <button type="submit" class="btn btn-secondary btn-lg"> <a href=@("/Login/DeconnexionM") class="link-light text-decoration-none">Voulez-vous vous déconnecter ?</a></button>

        </span>
        <span class="align-self-end">
            <button type="submit" class="btn btn-secondary btn-lg"> <a href=@("/Membre/EspaceMembre") class="link-light text-decoration-none">Revenez à votre Espace</a></button>
        </span>
        </h3>
       <br />
       <br />
       <br />
    }
    else
    {

        @using (Html.BeginForm())
        {
            //if (User.IsInRole("Admin"))
            //{

            //}
            <table align="center" text-align="center">
                <tr>
                    <th>
                    Veuillez vous authentifier :
                    </th>

                </tr>
                <tr>
                    <td>
                    @Html.LabelFor(m => m.Membre.Email)
                </td>
                </tr>
                <tr>
                    <td class="form-control">
                    @Html.TextBoxFor(m => m.Membre.Email)
                    @Html.ValidationMessageFor(m => m.Membre.Email)
                </td>
                </tr>
            <tr>
                <td>
                    @Html.LabelFor(m => m.Membre.MotDePasse)
                </td>
            </tr>
            <tr>
                <td class="form-control">
                    @Html.PasswordFor(m => m.Membre.MotDePasse)
                    @Html.ValidationMessageFor(m => m.Membre.MotDePasse)
                </td>
            </tr>
            <tr>
                <td>
                        <button type="submit" class="btn btn-secondary"> Se connecter</button>

                </td>
            </tr>

</table>
            <button type="submit" class="btn btn-secondary"><a href="@("/Login/CreerCompteMembre/")" class="text-decoration-none link-light" )> Devenez Membre CodeVoyage</a></button>

        }
    }
}