@model CodeVoyage.ViewModels.AdminViewModel
@{
    ViewBag.Title = "Formulaire";
    Layout = "_LayoutDuSite";
}



@section content{
@if (Model.AuthentifierA)
{
        <br />
        <br />
        <br />
    <h3>
       <span>
                Vous êtes déjà authentifié avec le login :
                @Model.Admin.Prenom
       </span>
    
        <span class="align-self-end">
            <button type="submit" class="btn btn-secondary btn-lg"> <a href=@("/Login/DeconnexionA") class="link-light text-decoration-none">Voulez-vous vous déconnecter ?</a></button>

        </span>
        <span class="align-self-end">
            <button type="submit" class="btn btn-secondary btn-lg"> <a href=@("/Home/Admin") class="link-light text-decoration-none">Revenez à votre Espace</a></button>
        </span>
        </h3>
    <br />
        <br />
        <br />

}
else
{
  
    @using (Html.BeginForm("IndexA", "Login", FormMethod.Post))
    {
        //if (User.IsInRole("Admin"))
        //{

        //}
        <table align="center" text-align="center">
                <tr>
                    <th>
                    Veuillez vous authentifier :
                    </th>

                </tr>
                <tr>
                    <td>
                    @Html.LabelFor(m => m.Admin.Email)
                </td>
                </tr>
                <tr>
                    <td class="form-control">
                    @Html.TextBoxFor(m => m.Admin.Email)
                    @Html.ValidationMessageFor(m => m.Admin.Email)
                </td>
                </tr>
            <tr>
                <td>
                    @Html.LabelFor(m => m.Admin.MotDePasse)
                </td>
            </tr>
            <tr>
                <td class="form-control">
                    @Html.PasswordFor(m => m.Admin.MotDePasse)
                    @Html.ValidationMessageFor(m => m.Admin.MotDePasse)
                </td>
            </tr>
            <tr>
                <td>
                        <button type="submit" class="btn btn-secondary"> Se connecter</button>

                </td>
            </tr>

</table>
    }
}
}

