@model CodeVoyage.Models.Evenement
@{
    ViewBag.Title = "Accueil";
    Layout = "_LayoutDuSite";
}

<header>
    
    <div class="search-bar">
        <input type="text" placeholder="Rechercher un événement">
        <button type="submit">Rechercher</button>
    </div>
</header>

@section Menu{
    <ul>
        <li class="selectionne">@Html.ActionLink("Accueil", "Index", "Home")</li>
        <li>@Html.ActionLink("Ajout de service", "CreerService", "Service")</li>
        <li >@Html.ActionLink("Affichage de service", "AfficherTousLesServices", "Service")</li>
        <li>@Html.ActionLink("Ajout d'Evenement", "CreerEvenement", "Evenement")</li>
        <li>@Html.ActionLink("Affichage des Evènements", "AfficherTousLesEvenements", "Evenement")</li>
        <li>@Html.ActionLink("Ajout d'Itineraire", "CreerItineraire","Itineraire")</li>
        <li>@Html.ActionLink("Affichage d'Itineraire", "AfficherTousLesItineraires", "Itineraire")</li>
        <li>@Html.ActionLink("Inscription Membre", "InscriptionMembre","Membre")</li>
        <li>@Html.ActionLink("Affichage des Membres", "AfficherTousLesMembres", "Membre")</li>
        <li>@Html.ActionLink("Incription d'un partenaire", "InscriptionPartenaire", "Partenaire")</li>
        <li>@Html.ActionLink("Liste des partenaires", "AfficherTousLesPartenaires", "Partenaire")</li>
        <li>@Html.ActionLink("Ajout offreVoyage", "CreerOffreVoyage", "OffreVoyage")</li>
        <li>@Html.ActionLink("Affichage des Offres de voyages", "AfficherToutesLesOffresVoyages", "OffreVoyage")</li>
    </ul>
}
    <p class="contenu">Ici c'est la page d'accueil avec les news du site, etc.</p>
