@model List<CodeVoyage.Models.Itineraire>
@{
    ViewBag.Title = "Formulaire";
    Layout = "_LayoutDuSite";
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Liste Itineraire</title>
</head>
<body>
    <table border="1">

        <tr>



            <th>

                LieuDepart

            </th>

            <th>
                Destination

            </th>

            <th>

                Prix

            </th>

            <th>

                Transport

            </th>
            <th>

                NombreVoyageur

            </th>
            <th>
            DateDepart

            </th>
            <th>
                DateArrivee

            </th>
            <th></th>

        </tr>

        @foreach (var itineraire in Model)
        {
            <tr>
                <td>@itineraire.LieuDepart</td>
                <td>@itineraire.Destination</td>
                <td>@itineraire.Prix</td>
                <td>@itineraire.Transport</td>
                <td>@itineraire.NombreVoyageur</td>
                <td>@itineraire.DateDepart</td>
                <td>@itineraire.DateArrivee</td>


               
                <td>
                    <form method="get" action="@("/Itineraire/ModifierItineraire/"+itineraire.Id)">

                        <input type="submit" value="Modifier" />
                    </form>
                </td>
                <td>
                    <form method="get" action="@("/Itineraire/SupprimerItineraire/"+itineraire.Id)">

                        <input type="submit" value="Supprimer" />
                    </form>
                </td>
            </tr>
        }


    </table>

</body>

</html>

