@model CodeVoyage.Models.Itineraire
@{
    ViewBag.Title = "Formulaire";
    Layout = "_LayoutAdmin";
}
<head>
    <title>SupprimerItineraire</title>
</head>
@section content{
    @using (Html.BeginForm())
    {
        <fieldset>
            <legend>Supprimer un itinéraire: </legend>

            @Html.LabelFor(m => Model.Id)
            @Html.TextBoxFor(m => Model.Id)
            @*@Html.ValidationMessageFor(m => Model.Id)*@
            <br />

            @Html.LabelFor(m => Model.LieuDepart)
            @Html.TextBoxFor(m => Model.LieuDepart)
            @*@Html.ValidationMessageFor(m => Model.LieuDepart)*@
            <br />
            @Html.LabelFor(m => Model.Destination)
            @Html.TextBoxFor(m => Model.Destination)
            @*Html.ValidationMessageFor(m => Model.Destination)*@
            <br />
            @Html.LabelFor(m => Model.Prix)
            @Html.TextBoxFor(m => Model.Prix)
            @*Html.ValidationMessageFor(m => Model.Prix)*@
            <br />
            @Html.LabelFor(m => Model.Transport)
            @Html.DropDownListFor(m => m.Transport, Html.GetEnumSelectList<CodeVoyage.Models.MoyenDeTransport>(), "Selectionner un transport")

            @*Html.ValidationMessageFor(m => Model.Transport)*@
            <br />
            @Html.LabelFor(m => Model.NombreVoyageur)
            @Html.TextBoxFor(m => Model.NombreVoyageur)
            @*Html.ValidationMessageFor(m => Model.NombreVoyageur)*@
            <br />
            @Html.LabelFor(m => Model.DateDepart )
            @Html.TextBoxFor(m => Model.DateDepart, new { type="date"})
            @*Html.ValidationMessageFor(m => Model.DateDepart)*@
            <br />
            @Html.LabelFor(m => Model.DateRetour)
            @Html.TextBoxFor(m => Model.DateRetour , new { type="date"})
            @*Html.ValidationMessageFor(m => Model.DateArrivee)*@
            <br />

            <input type="submit" value="Supprimer" />
        </fieldset>
    }
}
